* {
    margin: 0;
    padding: 0;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
     
}

#text {
    width: 30%;
}

hr {
    margin: 20px;
    
}

/* .choiceButton {
    width: 50px;
    height: 50px;
    border-radius: 0px;
    background: linear-gradient(45deg, #ef3939, #c93030);
    box-shadow:  7px -7px 14px #ac2929,
             -7px 7px 14px #ff4141;
} */

/* 
#test-container {
    height: 300px;
    width: 300px;
    background-color: red;
}

#test1, #test2, #test3 {
    height: 100px;
    width: 100px;
} 
*/

#devil-choice-card, #player-choice-card {
    height: 100px;
    width: 100px;
    /* border: 2px outset white; */
} 

#player-choice {

}

#message-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rock-picture {
    background-image: url(./images/rock.png);
    background-size: 100% 100%;
    /* max-width: 100%;
    max-height: 100%; */
    
}


.paper-picture {
    background-image: url(./images/paper.png);
    background-size: 100% 100%;
    /* max-width: 100%;
    max-height: 100%; */
}



.scissors-picture {
    background-image: url(./images/scissors.png);
    background-size: 100% 100%;
    /* max-width: 100%;
    max-height: 100%; */
}

.fist-picture {
    background-image: url(./images/fist.png);
    background-size: 100% 100%;
}

.fist-picture-inverted{
    background-image: url(./images/fist-rotated.png);
    background-size: 100% 100%;
    /* position: relative; */
}

.fist-picture-move-player {
    animation: .4s ease 0s shakep ;
    animation-iteration-count: 3;
}

@keyframes shakep {
    0%{
        transform: translateY(0px);
    }
    
    50%{
        transform: translateY(25px);
    }

    100%{
        transform: translateY(0px);
    }
}

.fist-picture-move-devil {
    animation: .4s ease 0s shaked ;
    animation-iteration-count: 3;
}

@keyframes shaked {
    0%{
        transform: translateY(0px);
    }
    
    50%{
        transform: translateY(-25px);
    }

    100%{
        transform: translateY(0px);
    }
}

button {
    cursor: pointer;
}

.disabled {
    pointer-events: none;
    outline-offset: 0;
}